.div {
  border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 14px 32px rgba(54.00000058114529, 34.00000177323818,        82.00000271201134, 0.1);
    display: flex;
    margin-top: 57px;
    width: 100%;
    max-width: 1604px;
    flex-direction: column;
    /* padding: 44px 29px; */
    box-sizing: border-box;
    padding: var(--padding-4xs) var(--padding-mid) var(--padding-3xs);
}
@media (max-width: 991px) {
  .div {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div2 {
  color: #1B1F25;
    font-feature-settings: "clig" off, "liga" off;
    font: 700 21px / 160% MuseoModerno, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div2 {
    max-width: 100%;
  }
}
.img {
  object-fit: auto;
  object-position: center;
  width: 100%;
  stroke-width: 2px;
  stroke: #eaf0f9;
  margin-top: 44px;
}
@media (max-width: 991px) {
  .img {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div3 {
  align-self: center;
  display: flex;
  margin-top: 13px;
  width: 100%;
  max-width: 1369px;
  padding-right: 5px;
  justify-content: space-between;
  gap: 8px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div3 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div4 {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  font-size: 14px;
  color: #424242;
  font-weight: 500;
  letter-spacing: 0.54px;
  line-height: 133%;
}
@media (max-width: 991px) {
  .div4 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div5 {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div5 {
    white-space: initial;
  }
}
.div6 {
  color: #1b1f25;
    text-align: center;
    letter-spacing: 0.66px;
    margin: auto 0;
    font: 16px / 109% Poppins, sans-serif;
}
.div7 {
  background-color: #f63333;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 0 8px;
    font: 18px / 137.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div7 {
    white-space: initial;
  }
}
.div8 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div8 {
    white-space: initial;
  }
}
.div9 {
  display: flex;
    justify-content: space-between;
    gap: 16px;
}
@media (max-width: 991px) {
  .div9 {
    white-space: initial;
  }
}
.div10 {
  background-color: #ff8a34;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 0 10px;
    font: 500 18px / 137.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div10 {
    white-space: initial;
  }
}
.div11 {
  color: #424242;
  letter-spacing: 0.54px;
  flex-grow: 1;
  font: 400 14px / 133% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div11 {
    white-space: initial;
  }
}
.div12 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
@media (max-width: 991px) {
  .div12 {
    white-space: initial;
  }
}
.div13 {
  background-color: #5f75ff;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 0 8px;
    font: 500 18px / 137.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div13 {
    white-space: initial;
  }
}
.div14 {
  color: #424242;
  letter-spacing: 0.54px;
  flex-grow: 1;
  font: 400 14px / 133% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div14 {
    white-space: initial;
  }
}
.img2 {
  object-fit: auto;
  object-position: center;
  width: 100%;
  stroke-width: 2px;
  stroke: #eaf0f9;
  margin-top: 13px;
}
@media (max-width: 991px) {
  .img2 {
    max-width: 100%;
  }
}

.div15 {
  align-self: center;
  display: flex;
  margin-top: 13px;
  width: 100%;
  max-width: 1369px;
  padding-right: 5px;
  justify-content: space-between;
  gap: 8px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div15 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div16 {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  font-size: 14px;
  color: #424242;
  font-weight: 500;
  letter-spacing: 0.54px;
  line-height: 133%;
}
@media (max-width: 991px) {
  .div16 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div17 {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div17 {
    white-space: initial;
  }
}
.div18 {
  color: #1b1f25;
    text-align: center;
    letter-spacing: 0.66px;
    margin: auto -2px;
    font: 16px / 109% Poppins, sans-serif;
}
.div19 {
  background-color: #5f75ff;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 0 8px;
    font: 18px / 137.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div19 {
    white-space: initial;
  }
}
.div20 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div20 {
    white-space: initial;
  }
}
.div21 {
  display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-right: 2vh;
}
@media (max-width: 991px) {
  .div21 {
    white-space: initial;
  }
}
.div22 {
  background-color: #5f75ff;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 0 8px;
    font: 18px / 137.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div22 {
    white-space: initial;
  }
}
.div23 {
  color: #424242;
  letter-spacing: 0.54px;
  flex-grow: 1;
  font: 400 14px / 133% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div23 {
    white-space: initial;
  }
}
.div24 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-right: 4rem;
}
@media (max-width: 991px) {
  .div24 {
    white-space: initial;
  }
}
.div25 {
  background-color: #5f75ff;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 0 8px;
    font: 500 18px / 137.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div25 {
    white-space: initial;
  }
}
.div26 {
  color: #424242;
  letter-spacing: 0.54px;
  flex-grow: 1;
  font: 400 14px / 133% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div26 {
    white-space: initial;
  }
}

.img3 {
  object-fit: auto;
  object-position: center;
  width: 100%;
  stroke-width: 2px;
  stroke: #eaf0f9;
  margin-top: 13px;
}
@media (max-width: 991px) {
  .img3 {
    max-width: 100%;
  }
}

.div27 {
  align-self: center;
  display: flex;
  margin-top: 13px;
  width: 100%;
  max-width: 1369px;
  padding-right: 5px;
  justify-content: space-between;
  gap: 8px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div27 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div28 {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  font-size: 14px;
  color: #424242;
  font-weight: 500;
  letter-spacing: 0.54px;
  line-height: 133%;
}
@media (max-width: 991px) {
  .div28 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div29 {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div29 {
    white-space: initial;
  }
}
.div30 {
  color: #1b1f25;
    text-align: center;
    letter-spacing: 0.66px;
    margin: auto -7px;
    font: 16px / 109% Poppins, sans-serif;
}
.div31 {
  background-color: #f63333;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 0 8px;
    font: 18px / 137.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div31 {
    white-space: initial;
  }
}
.div32 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .div32 {
    white-space: initial;
  }
}
.div33 {
  display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-right: 2vh;
}
@media (max-width: 991px) {
  .div33 {
    white-space: initial;
  }
}
.div34 {
  background-color: #f63333;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 0 8px;
    font: 500 18px / 137.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div34 {
    white-space: initial;
  }
}
.div35 {
  color: #424242;
  letter-spacing: 0.54px;
  flex-grow: 1;
  font: 400 14px / 133% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div35 {
    white-space: initial;
  }
}
.div36 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-right: 4rem;
}
@media (max-width: 991px) {
  .div36 {
    white-space: initial;
  }
}
.div37 {
  background-color: #f63333;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 26px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.48px;
    padding: 0 8px;
    font: 500 18px / 137.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div37 {
    white-space: initial;
  }
}
.div38 {
  color: #424242;
  letter-spacing: 0.54px;
  flex-grow: 1;
  font: 400 14px / 133% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div38 {
    white-space: initial;
  }
}

.img4 {
  object-fit: auto;
  object-position: center;
  width: 100%;
  stroke-width: 2px;
  stroke: #eaf0f9;
  margin-top: 13px;
}
@media (max-width: 991px) {
  .img4 {
    max-width: 100%;
  }
}

.div39 {
  align-self: center;
  display: flex;
  margin-top: 13px;
  width: 100%;
  max-width: 1369px;
  padding-right: 5px;
  justify-content: space-between;
  gap: 8px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div39 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div40 {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  font-size: 14px;
  color: #424242;
  font-weight: 500;
  letter-spacing: 0.54px;
  line-height: 133%;
}
@media (max-width: 991px) {
  .div40 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}
.div41 {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div41 {
    white-space: initial;
  }
}
.div41a {
  color: #1b1f25;
    text-align: center;
    letter-spacing: 0.66px;
    margin: auto 11px;
    font: 16px / 109% Poppins, sans-serif;
}

.img5 {
  object-fit: auto;
  object-position: center;
  width: 100%;
  stroke-width: 2px;
  stroke: #eaf0f9;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .img5 {
    max-width: 100%;
  }
}
.div42 {
  display: flex;
    margin-top: 49px;
    padding-right: 18px;
    justify-content: space-between;
    gap: 20px;
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.54px;
    line-height: 133%;
}
@media (max-width: 991px) {
  .div42 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div43 {
  font-family: Poppins, sans-serif;
  border-radius: 6px;
  background-color: #03b3b2;
  flex-grow: 1;
  justify-content: center;
  margin: auto 0;
  padding: 10px 55px 10px 15px;
}
@media (max-width: 991px) {
  .div43 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.div44 {
  background-color: #058b8a;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 53px;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.66px;
    padding: 0 13px;
    font: 600 18px / 294% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
    margin-left: -2rem;
}
@media (max-width: 991px) {
  .div44 {
    white-space: initial;
  }
}
.div45 {
  font-family: Poppins, sans-serif;
  border-radius: 6px;
  background-color: #9a42d0;
  flex-grow: 1;
  justify-content: center;
  margin: auto 0;
  padding: 10px 60px 10px 15px;
}
@media (max-width: 991px) {
  .div45 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.div46 {
  background-color: #902d99;
    border-radius: 50%;
    padding-bottom: 100%;
    justify-content: center;
    align-items: center;
    height: 53px;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.66px;
    padding: 0 18px;
    font: 600 18px / 294% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
    margin-left: -2rem;
}
@media (max-width: 991px) {
  .div46 {
    white-space: initial;
  }
}
