.automationEllipseParent,
.invoiceToCash,
.invoiceToCashInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.automationEllipseParent {
  align-self: stretch;
  flex-direction: column;
  gap: 3.563rem 0;
  max-width: 100%;
}
.invoiceToCash,
.invoiceToCashInner {
  box-sizing: border-box;
}
.invoiceToCashInner {
  flex: 1;
  flex-direction: column;
  padding: 1.813rem 0 0;
  max-width: calc(100% - 288px);
}
.invoiceToCash {
  width: 100%;
  position: relative;
  background-color: #eceefc;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-9xl) 0 0;
  gap: 0 1.75rem;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .invoiceToCashInner {
    max-width: 100%;
  }
  .invoiceToCash {
    padding-left: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .automationEllipseParent {
    gap: 3.563rem 0;
  }
}
